<div class="vehicle-details-card">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="mb-sm-0">Vehicles Details</h4>
                        <p class="text-muted mb-4 ">LID - 0000148373</p>
                    </div>
                    
                    <div class="page-title-right">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="text-center license-box ms-3">
                                        <div class="fw-bold small">DUBAI <span class="ms-1">B</span></div>
                                        <div class="fw-bold fs-3">12043</div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="text-center license-box ms-3">
                                        <div class="fw-bold small">DUBAI <span class="ms-1">B</span></div>
                                        <div class="fw-bold fs-3">12043</div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                <div class="text-center license-box ms-3">
                                    <div class="fw-bold small">DUBAI <span class="ms-1">B</span></div>
                                    <div class="fw-bold fs-3">12043</div>
                                </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div><!-- end row -->

        <div class="row">
            <div class="col-md-6">
                <div class="depreciation-card">
                     <fieldset class="border border-2 rounded p-4 position-relative">
                            <legend class="float-none w-auto px-3 mx-auto text-center">Depreciation Value</legend>
                            <div class="d-flex d-flex justify-content-between text-center">
                                <div>
                                    <p class="mb-2">Purchase Value</p>
                                    <p class="mb-2">AED 75,000</p>
                                </div>
                                <div>
                                    <p class="mb-2">Purchase Value</p>
                                    <p class="mb-2">AED 75,000</p>
                                </div>
                                <div>
                                    <p class="mb-2">Purchase Value</p>
                                    <p class="mb-2">AED 75,000</p>
                                </div>
                            </div>
                            
                        </fieldset>
                    
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="depreciation-card">
                     <fieldset class="border border-2 rounded p-4 position-relative">
                            <legend class="float-none w-auto px-3 mx-auto text-center">Residual Value</legend>
                            <div class="d-flex justify-content-between text-center">
                                <div>
                                    <p class="mb-2">Purchase Value</p>
                                    <p class="mb-2">AED 75,000</p>
                                </div>
                                <div>
                                    <p class="mb-2">Purchase Value</p>
                                    <p class="mb-2">AED 75,000</p>
                                </div>
                                <div>
                                    <p class="mb-2">Purchase Value</p>
                                    <p class="mb-2">AED 75,000</p>
                                </div>
                            </div>
                            
                        </fieldset>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <fieldset class="border border-2 rounded p-4 position-relative">
                            <legend class="float-none w-auto px-3 mx-auto text-center">Depreciation & Residual Value</legend>
                            <div class="d-flex justify-content-between">
                                <span></span>
                                <span class="example-val" id="lower-value"></span>
                                <span class="example-val" id="upper-value"></span>
                            </div>
                            <div id="nonlinear"></div>
                        </fieldset>
                        
                    </div><!-- end card body -->
                
                </div><!-- end card -->
            </div> <!-- end col -->
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-center">Loan Repayment Schedule </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Download Invoice</th>
                                        <th>Installment</th>
                                        <th>Profit/Interest</th>
                                        <th>Principal Repayment</th>
                                        <th>End Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><i class="display-4 bx bx-file-blank"></i></td>
                                        <td>AED 2,269</td>
                                        <td>AED 500</td>
                                        <td>AED 1,796</td>
                                        <td>AED 60,000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->             
        </div>
</div>