<div class="vehicle-details-card">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
          <div>
            <h4 class="mb-sm-0">Notification</h4>
            <p class="text-muted mb-4">Get updates on your loans and vehicles</p>
          </div>
        </div>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-8">
        <div class="notification-wrapper p-3 rounded">
          <div class="notification-card unread">
            <div class="icon-section">
              <i class="bx bx-bell"></i>
            </div>
            <div class="content-section">
              <h3 class="type">NEW OPPORTUNITY</h3>
              <p class="message">Donec dictum tristique porta. Etiam convallis lorem lobortis null...</p>
              <p class="date">Oct 25, 2024 6:03 am</p>
            </div>
          </div>

          <div class="notification-card unread">
            <div class="icon-section">
              <i class="bx bx-bell"></i>
            </div>
            <div class="content-section">
              <p class="type">LOAN UPDATE</p>
              <p class="message">Vestibulum tempus imperdiet sem ac porttitor. Vi...</p>
              <p class="date">Oct 25, 2024 6:03 am</p>
            </div>
          </div>

          <div class="notification-card unread">
            <div class="icon-section">
              <i class="bx bx-bell"></i>
            </div>
            <div class="content-section">
              <p class="type">LOAN UPDATE</p>
              <p class="message">Vestibulum tempus imperdiet sem ac porttitor. Vi...</p>
              <p class="date">Oct 25, 2024 6:03 am</p>
            </div>
          </div>

          <div class="notification-card">
            <div class="icon-section">
              <i class="bx bx-bell"></i>
            </div>
            <div class="content-section">
              <p class="type">LOAN UPDATE</p>
              <p class="message">Vestibulum tempus imperdiet sem ac porttitor. Vi...</p>
              <p class="date">Oct 25, 2024 6:03 am</p>
            </div>
          </div>

          <div class="notification-card">
            <div class="icon-section">
              <i class="bx bx-bell"></i>
            </div>
            <div class="content-section">
              <p class="type">LOAN UPDATE</p>
              <p class="message">Vestibulum tempus imperdiet sem ac porttitor. Vi...</p>
              <p class="date">Oct 25, 2024 6:03 am</p>
            </div>
          </div>

          <div class="notification-card">
            <div class="icon-section">
              <i class="bx bx-bell"></i>
            </div>
            <div class="content-section">
              <p class="type">LOAN UPDATE</p>
              <p class="message">Vestibulum tempus imperdiet sem ac porttitor. Vi...</p>
              <p class="date">Oct 25, 2024 6:03 am</p>
            </div>
          </div>

          <div class="pagination d-flex justify-content-between align-items-center mt-3">
            <a href="#" class="text-primary">Previous</a>
            <span>Page 1 of 48</span>
            <a href="#" class="text-primary">Next</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="notification-wrapper p-3 rounded">
          <div class="toast fade show shadow-none border-0" role="alert" aria-live="assertive" data-bs-autohide="false" aria-atomic="true">
            <div class="toast-header shadow-none border-0 p-0">
              <h3 class="h4 me-auto">Notification Description</h3>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <p class="type">LOAN UPDATE</p>
            <p class="message">Donec dictum tristique porta. Etiam convallis lorem lobortis nulla molestie, nec tincidunt ex ullamcorper.</p>
            <p class="date">Oct 25, 2024 6:03 am</p>
            <p>Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci, suscipit porttitor velit elementum non. Fusce nec pellentesque erat, id lobortis nunc. Donec dui leo, ultrices quis turpis nec, sollicitudin sodales tortor. Aenean dapibus magna quam, id tincidunt quam placerat consequat. Nulla eu laoreet ex. Vestibulum nec vulputate turpis, id euismod orci. Phasellus consectetur tortor est. Donec lectus ex, rhoncus ac consequat at, viverra sit amet sem. Aliquam sed vestibulum nibh. Phasellus ut lorem pharetra, placerat urna id, tincidunt quam. Praesent non ex congue, tristique risus quis, blandit purus. Sed tristique sapien ut vehicula pretium. Donec purus metus, vulputate sit amet ullamcorper vel, aliquet ac lectus.</p>
          </div>  
        </div>
      </div>
    </div>
    
  </div>
</div>