<div class="vehicle-details-card">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
          <div>
            <h4 class="mb-sm-0">Notification</h4>
            <p class="text-muted mb-4">Get updates on your loans and vehicles</p>
          </div>
        </div>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-8">
        <div class="notification-wrapper p-3 rounded">
          <div class="notification-card unread">
            <div class="icon-section">
              <i class="bx bx-bell"></i>
            </div>
            <div class="content-section">
              <h3 class="type">NEW OPPORTUNITY</h3>
              <div class="message">Donec dictum tristique porta. Etiam convallis lorem lobortis null...</div>
              <div class="date">Oct 25, 2024 6:03 am</div>
            </div>
          </div>

          <div class="notification-card unread">
            <div class="icon-section">
              <i class="bx bx-bell"></i>
            </div>
            <div class="content-section">
              <div class="type">LOAN UPDATE</div>
              <div class="message">Vestibulum tempus imperdiet sem ac porttitor. Vi...</div>
              <div class="date">Oct 25, 2024 6:03 am</div>
            </div>
          </div>

          <div class="notification-card unread">
            <div class="icon-section">
              <i class="bx bx-bell"></i>
            </div>
            <div class="content-section">
              <div class="type">LOAN UPDATE</div>
              <div class="message">Vestibulum tempus imperdiet sem ac porttitor. Vi...</div>
              <div class="date">Oct 25, 2024 6:03 am</div>
            </div>
          </div>

          <div class="notification-card">
            <div class="icon-section">
              <i class="bx bx-bell"></i>
            </div>
            <div class="content-section">
              <div class="type">LOAN UPDATE</div>
              <div class="message">Vestibulum tempus imperdiet sem ac porttitor. Vi...</div>
              <div class="date">Oct 25, 2024 6:03 am</div>
            </div>
          </div>

          <div class="notification-card">
            <div class="icon-section">
              <i class="bx bx-bell"></i>
            </div>
            <div class="content-section">
              <div class="type">LOAN UPDATE</div>
              <div class="message">Vestibulum tempus imperdiet sem ac porttitor. Vi...</div>
              <div class="date">Oct 25, 2024 6:03 am</div>
            </div>
          </div>

          <div class="notification-card">
            <div class="icon-section">
              <i class="bx bx-bell"></i>
            </div>
            <div class="content-section">
              <div class="type">LOAN UPDATE</div>
              <div class="message">Vestibulum tempus imperdiet sem ac porttitor. Vi...</div>
              <div class="date">Oct 25, 2024 6:03 am</div>
            </div>
          </div>

          <div class="pagination d-flex justify-content-between align-items-center mt-3">
            <a href="#" class="text-primary">Previous</a>
            <span>Page 1 of 48</span>
            <a href="#" class="text-primary">Next</a>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
    
  </div>
</div>